{%extends 'base.html'%}

{%block title%} {{category.title}}{%endblock title%}

      
{%block content%} 
<h3> Crashblog Updates</h3>
<div class="content is-medium">  

  
  
	{%for post in posts%}
 <a  href="{% url 'detail' post.category.slug post.slug%}">
    <div class="container">
        <b class="subtitle is-5 has-text-grey">{{post.date_posted|timesince}}</b><br>
    {{post.slug}}<br>
    <b class="title has-text-black is-3">{{post.intro}}</b>
    </div>
</a>

    
    
 </div>

 {% empty %}
   <div class="content">
      <p>There is no post in this category...</p>
      
   </div>

  {%endfor%}


{%endblock content%}